<h1>Nuevo usuario</h1>

<%= form_for :user, url: users_path do |f| %>
  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Apellido %><br>
    <%= f.text_area :surname %>
  </p>

  <p>
    <%= f.label :Email %><br>
    <%= f.text_area :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
