<%= render 'navbar_users' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ficha de usuario:</h3>
  </div>
  <div class="panel-body">
    Nombre: <%= @user.name %><br />
    Apellidos: <%= @user.surname %><br />
    Email: <%= @user.email %><br />

    <div class="panel panel-default">
      <div class="panel-heading">Mascotas</div>
      <div class="panel-body">
        <table width=80%>
        <% @user.pets.each do |pet| %>
        <tr>
          <td width=75%><%= pet.nombre %></td>
          <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button><br />
            <%= link_to 'Mostrar', user_pet_path(pet) %>
            <br />
          </td>
          <td>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button><br />
            <%= link_to 'Editar', edit_user_pet_path(pet) %>
            <br />
          </td>
        </tr>
      <% end %>
      <table>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Añadir una mascota:</h3>
  </div>
  <div class="panel-body">
    <%= form_for([@user, @user.pets.build]) do |f| %>
      <p>
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre %>
      </p>
      <p>
        <%= f.label :edad %><br>
        <%= f.text_field :edad %>
      </p>
      <p>
        <%= f.label :sexo %><br>
        <%= f.select :sexo, options_for_select([['Macho', 'macho'], ['Hembra', 'hembra']]) %>
      </p>
      <p>
        <%= f.label :tipo %><br>
        <%= f.select :tipo, options_for_select([['Dog', 'Dog'], ['Rat', 'Rat'], ['Cat', 'Cat'], ['Chinchilla', 'Chinchilla']]) %>
      </p>
      <p>
        <%= f.label :alive %><br>
        <%= f.text_field :alive %>
      </p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
</div>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
